### Folder structure and naming files

* Separate folders for code, notes, data and reports
* Cleanup and organize your project every now and then, it's a process

```
./project
├── code
│   ├── 1_preprocess.py
│   └── 2_exploration.ipynb
├── data
│   └── raw
│       ├── gezinssamenstelling_2016_amsterdam.xlsx
│       └── woz_waardes_2015_amsterdam.xlsx
├── .gitignore
├── README.md
└── reports
    ├── figures
    │   └── plot.png
    └── summary.md
```

### Code style

* Don't create one big script or one big notebook
* Keep cleaning up and organizing for readability

In [14]:
import pandas as pd
import numpy, os

with open("/home/gijs/Documents/tectime/getting_started/project/data/raw/gezinssamenstelling_2016_amsterdam.xlsx") as f:
    df_1 = pd.read_excel("/home/gijs/Documents/tectime/getting_started/project/data/raw/gezinssamenstelling_2016_amsterdam.xlsx")

Data2 = df_1.ix[:-3] # dont read last lines
Data_3 = data_1
Data_3.columns = data_1.iloc[1,:] # assign columns
Data_3.head(5)

/usr/share/anaconda3/anaconda3/envs/py35/lib/python3.5/site-packages/ipykernel/__main__.py:7: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix

1,buurt,alleenstaand,gehuwd samenw. zonder kinderen,ongehuwd samenw. zonder kinderen,gehuwd samenw. met kinderen,ongehuwd samenw. met kinderen,eenoudergezin,overig,totaal
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,buurt,alleenstaand,gehuwd samenw. zonder kinderen,ongehuwd samenw. zonder kinderen,gehuwd samenw. met kinderen,ongehuwd samenw. met kinderen,eenoudergezin,overig,totaal
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A00a Kop Zeedijk,458,42,113,12,12,27,19,683
4,A00b Oude Kerk e.o.,295,14,88,7,7,28,17,456